<!doctype html>
<html>
<head>
    <title>Practice NFL Betting</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body  { 
            padding-top:80px;
            background: #74AFAD;
        }
        #nflLogo {
            position: fixed;
            left: 38%;
            vertical-align: center;
            width: 300px;
            height:230px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa"></span>Practice NFL Betting!</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
  
</div>
  <img src="http://www.sports-logos-screensavers.com/user/NFL_Logo.jpg" id="nflLogo">

</body>
</html>